/* 
    fonts
-------------
font-family:'Lora', serif;
font-family:'Ubuntu', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Ubuntu", sans-serif;
}

/********************
      Header
*********************/
header {
  background-color: #f8f8f8;
  padding: 4em 0 3em 0;
}
.header-elements {
  text-align: center;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.header-title-section {
  text-align: left;
}
.header-title {
  color: #143774;
  font-family: "Lora", serif;
  font-size: 3.2rem;
  font-weight: normal;
  margin-bottom: 0.2em;
}
.header-subtitle {
  color: #1792d2;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

/* navbar */
nav ul {
  font-family: "Ubuntu", sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
nav a {
  color: #707070;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 1.5em;
  padding: 0.1em;
}
.activepage {
  border-bottom: 2px solid #707070;
}
nav a:hover,
nav a:focus {
  color: #1792d2;
}

/********************
    Media Queries
*********************/

/* Tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .header-elements {
    flex-direction: column;
  }
  .header-title-section {
    text-align: center;
  }
  nav a {
    margin: 0.5em;
  }
}

/* Phones */
@media screen and (max-width: 480px) {
  html {
    font-size: 45%;
  }
  .header-elements {
    flex-direction: column;
  }
  .header-title-section {
    text-align: center;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em;
  }
  nav a {
    margin: 0;
  }
}
