* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: rgba(166, 195, 110);
  --border: 10px;
}

.container {
  margin: auto;
  margin-top: 3%;
  width: 50%;
}

.formhead {
  padding: 20px 5%;
  background-color: var(--primary-color);
  border-top-left-radius: var(--border);
  border-top-right-radius: var(--border);
  color: white;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

.formbody {
  padding: 20px 5%;
  background-color: rgba(0, 0, 0, 0.062);
  border-bottom-left-radius: var(--border);
  border-bottom-right-radius: var(--border);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin: 4px 20px 10px 2px;
  padding: 5px;
}

#subject {
  display: block;
  margin: 4px 20px 10px 2px;
  padding: 5px;
}

#sendbutton {
  display: block;
  margin: 4px 20px 10px 2px;
  padding: 5px 25px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
}
